# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
backend/.env
uploads/
backend/uploads/

# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
frontend/build/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.dart_tool/

# Android
*.apk
*.ap_
*.dex
*.class
**/android/app/key.properties
**/android/app/google-services.json
**/android/.gradle
**/android/local.properties

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GoogleService-Info.plist
**/ios/.symlinks
**/ios/Pods
Podfile.lock

# SQLite & Databases
*.db
*.db-journal
*.db-shm
*.db-wal
expense_app.db

# OS Files
.DS_Store
Thumbs.db
